:root {
    --primary-bg: #14181c;
    --primary-text: #ebebeb;
    --standard-gap: 40px;
}

body {
    font-family: sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#work-experience article {
    margin: var(--standard-gap);
}

nav ul {
    display: flex;
    gap: var(--standard-gap);
    justify-content: center;
    list-style: none;
}

nav a {
    color: var(--primary-text);
    text-decoration: none;
}

nav a:hover {
    color: #64d8cb;
}