:root {
    --primary-bg: #14181c;
    --primary-text: #ebebeb;
    --standard-gap: 40px;
}

body {
    font-family: sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#work-experience article {
    margin: var(--standard-gap);
}

nav {
    background: yellow;
}